<p>css3新特性</p>

<h3>css3选择器</h3>

<h3>CSS3 边框（Borders）</h3>
<li>border-image</li>
<li>border-radius</li>
<li>box-shadow</li>

<h3>CSS3 背景</h3>
<li></li>background-clip	规定背景的绘制区域。
<li></li>background-origin	规定背景图片的定位区域。
<li></li>background-size	规定背景图片的尺寸。

<h3>CSS3 渐变</h3>
<p>CSS3 定义了两种类型的渐变（gradients）：<br>
线性渐变（Linear Gradients）- 向下/向上/向左/向右/对角方向 <br>
background: linear-gradient(direction, color-stop1, color-stop2, ...);<br>
径向渐变（Radial Gradients）- 由它们的中心定义 <br>
background: radial-gradient(center, shape size, start-color, ..., last-color);</p>

<h3>CSS3 转换和变形</h3>
<h3>CSS3 过渡</h3>
<h3>CSS3 动画</h3>
<h3>CSS3 多列</h3>
<h3>CSS3 盒模型</h3>
box-sizing: content-box | border-box | inherit
<h3>CSS3伸缩布局盒模型(弹性盒)</h3>
<h3>CSS3 多媒体查询</h3>