<h3>HttP1.0 HTTP1.1 HTTP2.0的主要区别</h3>
<h4>http1.0和http1.1</h4>
<ul>
    <li>长连接: http1.0 需要keep-alive参数来告诉服务器端建立一个长连接，而http1.1默认支持长连接。
        http是基于tcp-ip协议，创建一个tcp连接是需要经过三次握手的，有一定的开销，如果每次通讯都要重新建立连接的话，对性
        能有影响。因此最好 能维持一个长连接。可以用一个长连接来发送多个请求。</li>
    <li>节约带宽HTTP 1.1支持只发送header信息(不带任何body信息)，如果服务器认为客户端有权限请求服务器，则返回100，否则返回401。客户端如果接受到100,才开始把请求body发送到服务器。</li>
    <li>host域。http1.0是没有host域的，http1.1才支持这个参数。</li>
</ul>
<br>
<h4>http1.1与http2.0的主要区别</h4>
<ul>
    <li>多路复用。http2.0 使用了多路复用的技术，可以做到同一个连接并发处理多个请求，而且并发请求的数量比http1.1大了好几个数量级。</li>
    <li>数据压缩。http1.1不支持header数据压缩，http1.0使用HPACK算法对header的数据进行压缩。</li>
    <li>服务器推送。当对支持http2.0的web server 请求数据的时候，服务器会顺便把一些客户端需要的资源一起推送给客户端</li>
</ul>
<h3>https和http的区别</h3>
<p>
<li>url不同，标准端口号不同（http:80,https:443）</li>
<li>OSI模型工作层级不同， 在 OSI 网络模型中，HTTP 工作于应用层，而 HTTPS 工作在传输层</li>
    <li>安全性差异。 HTTPS 是安全的，它对传输的数据进行加密，需要认证证书。</li>
</p>

